.filter-select{

    display:flex;

    flex-direction:column;

    gap:8px;
}

.filter-select label{

    font-size:14px;

    font-weight:600;

    color:#555;
}

.filter-select select{

    height:48px;

    border:1px solid #E5E7EB;

    border-radius:12px;

    padding:0 15px;

    font-size:15px;

    outline:none;

    background:white;

    cursor:pointer;
}

.filter-select select:focus{

    border-color:#6D3CF6;
}