* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 290px;
  height: 100vh;
  background: linear-gradient(180deg, #17113b, #0d0b2a);
  color: white;
  padding: 20px;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 45px;
}

.logo-box {
  width: 52px;
  height: 52px;
  background: #6c4df6;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 26px;
}

.sidebar-logo h2 {
  font-size: 22px;
  margin-bottom: 4px;
}

.sidebar-logo p {
  font-size: 13px;
  color: #cfcfe8;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 16px;

  text-decoration: none;
  color: #d6d7e5;

  padding: 14px 18px;    

  border-radius: 12px;

  transition: 0.3s;
  font-size: 16px;
}

.menu-item svg {
  font-size: 22px;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.08);
  color: white;
}

.menu-item.active {
  background: linear-gradient(90deg, #6c4df6, #4b2fe3);
  color: white;
}
.quote-card{
    margin-top: 60px;
    padding: 25px 20px;
    border-radius: 20px;
    background: rgba(255,255,255,0.05);
}

.quote-icon{
    font-size: 38px;
    color: #8b5cf6;
    margin-bottom: 15px;
}

.quote-text{
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

.quote-subtext{
    display: block;
    margin-top: 18px;
    color: #cfcfe8;
    font-size: 16px;
}

.quote-line{
    width: 45px;
    height: 4px;
    background: #8b5cf6;
    border-radius: 10px;
    margin-top: 18px;
}
.main-page {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 30px;

}